{% extends "base.html.twig" %}

{% block title %}
	{{ film.titre }}
{% endblock %}

{% block body %}
	<h1 class="d-flex justify-content-center mb-3">{{ film.titre }}</h1>
	<main class="container">
		<section class="raw">
			<div class="col-6">
				<div id="carouselExampleIndicators" class="carousel slide">
					<div class="carousel-indicators">
						{% for iteration in 1.. film.images|length %}
							<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ iteration -1 }}" {{ (loop.first) ? 'class="active" aria-current="true"' : '' }} aria-label="{{ iteration }}"></button>

						{% endfor %}
						<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
						<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
					</div>
					<div class="carousel-inner">
						{% for image in film.images %}
							<div class="carousel-item {{ (loop.fisrt ) ? 'active' : '' }}">

								<img src="{{ asset('assets/uploads/') ~ image.titre }}" class="d-block w-100" alt=" {{ film.titre }}">
							</div>
						{% endfor %}

					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
				<ul>
					{# <li>{{ film.titre }}</li> #}
					<li class="mx-auto mb-4">{{ film.synopsis }}</li>
					<div="col-2">
						<li>Réalisation :
							{{ film.realisation }}</li>
						<li>Scénario :
							{{ film.scenario }}</li>
						<li>Année de production :
							{{ film.annee }}</li>
						<li>Durée :
							{{ film.duree }}</li>
						<li>Coproduction :
							{{ film.coproduction }}</li>
						<li>Soutiens :
							{{ film.soutiens }}</li>
						<li>Distribution :
							{{ film.distribution }}</li>
						<li>Diffusion :
							{{ film.diffusion }}</li>
						<li>Sélections :
							{{ film.selections }}</li>
						<li>Avec :
							{{ film.avec }}</li>
						<li>Image :
							{{ film.image }}</li>
						<li>Son :
							{{ film.son }}</li>
						<li>Montage :
							{{ film.montage }}</li>
						<li>Musique :
							{{ film.musique }}</li>
						<li>Direction :
							{{ film.direction }}</li>
						<li>Régie :
							{{ film.regie }}</li>
						<li>Décors :
							{{ film.decors }}</li>
						<li>Costumes :
							{{ film.costumes }}</li>
						<li>Etalonnage :
							{{ film.etalonnage }}</li>
					</div>
				</ul>
			</div>
		</section>
	</main>

{% endblock %}
